@{
    ViewData["Title"] = "Georgian Computers";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is for building Web apps with ASP.NET Core, SQL Server, Entity Framework and Bootstrap </a>.</p>
</div>
